.body {
    padding: 0 !important;
    font-family: Arial, Helvetica, sans-serif;
}
#navbar-example2 {
    position: sticky;
    top: 0;

}

.nav-item:hover{
    opacity: .9;
    transition: all 1s;
}
.nav-item > a {
    color: #f2f2f2;
}
nav > hr {
    margin: 0.3em;
}
/*nav responsive*/

#nav-r {
    position: fixed;
    width: 100%;
    z-index: 5;

    display: none;
}
#nav-r .logo-r {
    float: left;
}
#menu-icon-responsive {
    float: right;
}

.close-menu {
    color: red;
    padding: 1em;
    font-size: 1em;
    float: right;
}
.close-menu:hover {
    background: white;
    border-radius: 20%;
} 
.nav__responsive {
    min-height: 100vh;
    min-width: 80vw;
    opacity: .9;

    position: fixed;
    z-index: 10;
    right: 0;
    top: 0;
}
.closeMenu {
    display: none;
}
.showMenu {
    display: block;
}
#hr-responsive {
    margin-top: 2em;
    width: 200px;
    display: inline-block;
}
.nav__responsive > ul {
    list-style: none;
    float: left;
}
.nav-item-r {
    padding: 1em;
    margin: 2px;
    border-left: 1px solid #fff;
}
.nav-item-r a:hover {
    font-size: 1.2em;
    border-radius: 5%;
    background-color: #0d6efd;
}
.nav-link-r {
    color: #fff;
    padding: 1em;
    text-decoration: none;
}
.i-menu {
    padding-top: 0.5em;
}

@media only screen and (max-width: 699px){
    #navbar-example2 {
        display: none;
    }
    #nav-r {
        position: fixed;
        width: 100%;
        z-index: 5;
    
        display: block;
    }
}

/*header*/

.hero {
    background-attachment: fixed;
    background-image: url(img/hero1.svg);
    background-size: cover;
    position: relative;
    min-height: 90%;
}
.titulo__div {
    padding-top: 30vh;
    padding-bottom: 15%;
    margin: auto;
}
.titulo__div h1 {
    font-family: 'Bakbak One', cursive;
    letter-spacing: 2px;
}
.titulo__div h2, .h2__margin__height {
    letter-spacing: 10px;
}
.h2__margin__height {
    margin: 2em 0;
}
.wave {
    position: absolute;
    bottom: 0;
    left: 0;
}
.card img {
    display: inline-block;
    max-width: 100%;
    height: 230px;
    object-fit: cover;
    object-position: top left;
}
.tecnologia__content{
    margin-bottom: 10em;
}
.tecnologias__back, .tecnologias__font {
    box-shadow: -12px 7px 16px 1px rgba(65, 62, 62, 0.75);
    min-height: 300px;
    border-radius: 5px;
    border-bottom: 2px solid #656262;
    border-top: 2px solid #656262;
}
.tecnologias__back:hover, .tecnologias__font:hover {
    opacity: 0.9;
    transition: all 1s;
}
.tecnologia {
    padding: 0.5em;
}
.sobremi, .mifoto {
    margin-bottom: 2em;
}
.mifoto {
    border: 2px solid #f2f2f2;
    box-shadow: 4px 9px 42px 5px rgba(141, 133, 133, 0.75);
}

.proyectos {
    font-family: 'Bakbak One', cursive;
    letter-spacing: 2px;
    padding: 2em 0;
    background-image: url(img/hero1.svg);
    background-size: cover;
    background-attachment: fixed;
}

.contacto-item:hover{
    color: #0d6efd !important;
}

.modal-backdrop {
    z-index: 11 !important;
}

form > * {
    color: #000;
}

#exampleModalLabel {
    color: #000;
}

/*form*/

.textArea {
    min-height: 5em;
}